[2021-01-19 08:32] satsangdigital opened #2 "Build Error"
FYI, Project  have latest xamarin.forms 5

After installing Plugin.Firebase package from .nuget getting below error;

**Build Output
-------------------

Building solution Diksha (Debug)
Build started 19-01-2021 13:55:29.
__________________________________________________
Project "/Users/hiteshmalhotra/Documents/Visual Studio/Diksha/Diksha/Diksha.csproj" (Build target(s)):

Target GenerateTargetFr

[2021-01-19 09:00] sattasundar opened #3 ""java" exited with code 1. (MSB6006)"
Have latest Xamarin.Forms 5

After installing package successfully, I tried to build solution but I am getting this error.

"java" exited with code 1. (MSB6006)

**Build Output
----------------
Target _CreateBaseApk:
    Touching "obj/Release/android/bin/packaged_resources".
Target _CompileJava:
    /Users/hiteshmalhotra/Library/Developer/Xamarin/jdk/microsoft_dist_openjdk_1.8.0.25/bin/javac -J-Df

[2021-01-19 11:22] TobiasBuchholz commented on #3
Try to add the following `PackageReference` to the .csproj file of your android project:

[code]

I've added this specific step to the [README](https://github.com/TobiasBuchholz/Plugin.Firebase#android-specifics) file.

[2021-01-19 11:25] TobiasBuchholz commented on #2
Looks like the same issue as in #3. Please take a look at [my comment](https://github.com/TobiasBuchholz/Plugin.Firebase/issues/3#issuecomment-762779516).

[2021-01-19 12:19] sattasundar commented on #2
Thanks Budyy that build error is resolved.

Now I got a Challenge;

**MainActivity
----------------
 public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity
    {
        protected override void OnCreate(Bundle savedInstanceState)
        {
            TabLayoutResource = Resource.Layout.Tabbar;
            ToolbarResource = Resource.Layout.Toolbar;

            b

[2021-01-19 12:21] sattasundar commented on #3
Thanks Budyy that build error is resolved.

Now I got a Challenge;

**MainActivity
----------------
    public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity
    {
        protected override void OnCreate(Bundle savedInstanceState)
        {
            TabLayoutResource = Resource.Layout.Tabbar;
            ToolbarResource = Resource.Layout.Toolbar;

[2021-01-19 12:44] #2 closed

[2021-01-19 12:54] #3 closed

[2021-01-19 12:56] sattasundar opened #4 "Exception:Default FirebaseApp is not initialized in this process"
Thanks Budyy that build error is resolved.

Now I got a Challenge;

**MainActivity
----------------
    public class MainActivity : global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity
    {
        protected override void OnCreate(Bundle savedInstanceState)
        {
            TabLayoutResource = Resource.Layout.Tabbar;
            ToolbarResource = Resource.Layout.Toolbar;

[2021-01-19 13:15] TobiasBuchholz commented on #4
Try to add one package explicitly in the .csproj file of your android project, e.g:

[code]

I don't know why this is necessary but it seems to help. I will update the README accordingly.

[2021-01-19 13:38] sattasundar commented on #4
@TobiasBuchholz No still same issue is coming.

Default FirebaseApp is not initialized in this process org.satsang.diksha. Make sure to call FirebaseApp.initializeApp(Context) first.

[2021-01-19 13:50] TobiasBuchholz commented on #4
Have you cleaned the solution (also delete bin/ and obj/ folders) and restored packages? Restart Visual Studio? The usual stuff..  ¯\_(ツ)_/¯

Which PackageReference did you add? From my experience either Analytics, DynamicLinks or RemoteConfig seem to work.

[2021-01-19 14:08] sattasundar commented on #4
@TobiasBuchholz  Have added the package what you have mentioned in previous comment.

After clearing all bin/obj and temp file now I am getting this;

Accessing hidden method Lsun/misc/Unsafe;->putObject(Ljava/lang/Object;JLjava/lang/Object;)V (greylist, linking, allowed)
[System] Ignoring header X-Firebase-Locale because its value was null.
[EGL_emulation] eglMakeCurrent: 0xebf7f880: ver 3 0 (tin

[2021-01-19 14:30] TobiasBuchholz commented on #4
Seems like there is something wrong with your firebase config. Did you follow the steps from the basic and auth setup?

The 'Default FirebaseApp is not initialized' issue is solved, correct? If that's the case please close this issue and create a new one if necessary.

[2021-01-19 14:34] sattasundar commented on #4
@TobiasBuchholz Sorry! Actually It's my fault and was missing the Country code.

So including country code it is working e.g. for India; +91XXXXXXXXXX

thanks a lot @TobiasBuchholz  for the active reply and support.

will connect in near future if any challenges or issue appeared.

[2021-02-17 07:26] sattasundar opened #5 "Exception: iOS @NSError.userInfo"
After enter the OTP and click on verify I am getting below error;

*An error occurred when accessing the keychain. The @c NSLocalizedFailureReasonErrorKey field in the @c NSError.userInfo dictionary will contain more information about the error encountered*

Platform: iOS
Device: iPhone SE simulator(14.4)
![Simulator Screen Shot - iPhone SE (2nd generation) - 2021-02-17 at 12 55 31](https://user-i

[2021-02-17 09:31] TobiasBuchholz commented on #5
This might be a [problem with the simulator](https://stackoverflow.com/a/39653486/1525503). Did you try it on a real device?

[2021-02-17 10:09] sattasundar commented on #5
Okay, will try on real device.

[2021-02-23 11:35] geogian98 opened #6 "Android Download crash"
Hi!I like your plugin and thanks for it. I tryed to download a file in my project and there it seems to be a problem.
I also tryed in your sample project and the problem is still there.
I tryed to download a file and add observers for Fail,Success and Progress,but i get an error...
I alose checked on IOS and there it works.
How i tryed to download using observers
![Screenshot 2021-02-23 at 13 31 3

[2021-02-23 20:01] TobiasBuchholz commented on #6
This was indeed a bug in the code. I've created a new version 1.0.4 with a fix for that problem. Please close this issue when you can confirm the fix works.

[2021-02-24 07:45] geogian98 commented on #6
Thanks a lot for the quick fix. I appreciate it.  I will try it as soon as my firebase (quota issues) is working again and let you know.

[2021-02-24 13:27] geogian98 commented on #6
It works.Thank you!!! I really appreciate your work!

[2021-02-24 13:28] #6 closed

[2021-03-03 06:30] sattasundar commented on #4
@TobiasBuchholz Countered same issue today; **_Default FirebaseApp is not initialized_**

![Screenshot_1614752724](https://user-images.githubusercontent.com/62828724/109763036-7e4d0180-7c17-11eb-9ed0-2105e7bc3f2e.png)

Can find Sample Code [here](https://github.com/sattasundar/Xamarin.Forms-Firebase-PhoneAuth)

[2021-03-03 08:39] TobiasBuchholz commented on #4
The package name in your `google-services.json` (com.xamarin.auth) doesn't match with the one in your `AndroidManifest.xml` (org.satsang.diksha). You either have to change it back in the `AndroidManifest.xml` or if you want to use the other package name you'll have to create a new app in the firebase console for that and replace the `google-services.json` file.

[2021-03-08 19:42] sattasundar commented on #4
Thanks @TobiasBuchholz . It's my bad.
Now it's working.

[2021-03-08 19:42] #4 closed

[2021-03-22 01:12] Mataboge opened #7 "Firestore: Couldn't put object of type System.Collections.Generic.Dictionary`2[System.String,System.Int64] into HashMap"
### Test Enviroment:
Visual studio: V16.9.2
tested on android device,
have not tested on ios
xamarin forms V5.0.0.2012
plugin.Firebase V1.0.5

### Stacktrace

  at System.Collections.Generic.DictionaryExtension.Put (Java.Util.IMap this, System.Object key, System.Object value) [0x0024a] in <916f017aa0394a678344f82f4e06f803>:0
  at System.Collections.Generic.DictionaryExtension.ToHashMap (System.Obj

[2021-03-22 20:28] TobiasBuchholz commented on #7
Thanks a lot for your detailed description of the issue. I've created a new version 1.0.6 which should fix the problem. If you can confirm it's fixed, please close this issue.

[2021-03-22 22:39] Mataboge commented on #7
Thank you very for the swift response and action.
The error is fixed, but the dictionary is uploading an empty map. The loaded data inside the dictionary does not appear.

### Tested data:

`            testUser.Likes = new List<string> { "1", "3", "25" };
            testUser.Score = 9;
            testUser.Username = "zee";
            testUser.SearchNums = new Dictionary<string, long>{ { "14",

[2021-03-22 23:02] Mataboge opened #8 "Firestore: Requesting Document Id Attribute"
An attribute for the document Id is necessary when reading data from Firestore if having the id as a class property.
The .Net Firestore implementation has that attribute as seen below from [here](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/datamodel.html)

    `[FirestoreDocumentId]`
    `public string MyIdPropertyName { get; set; }`

When dealing with a large set

[2021-03-24 08:58] TobiasBuchholz commented on #7
Seems like my response was a litte too swift, sorry for that. I've created a new version 1.0.7 which should fix the issue.

[2021-03-24 09:05] TobiasBuchholz commented on #8
Makes sense, I've created a new `[FirestoreDocumentId]` attribute. A property in the class model decorated with this attribute will automatically receive the document's id as value. It's contained in version 1.0.7.

[2021-03-24 09:05] #8 closed

[2021-03-24 09:40] Mataboge commented on #7
This is perfect!

Thank you very much, this is the best plugin.

[2021-03-24 09:40] #7 closed

[2021-04-03 20:00] SailorTurkey opened #9 "Any plans to separate functionality into multiple nuget packages?"
As its, this project creating a very large ipa file for IOS size,
Most people just need messaging and analytics (also crashlytics) support.

Can you / Will you / Are you planning to at least make a nuget containing only those?

[2021-04-06 08:13] gnout opened #10 "Analytics doesn't work on an Android device"
I was trying to use FireBase Analytics. I wasn't able to make it work.
Firebase console doesn't recognize the running app.
I initialize the package by calling `CrossFirebase.Initialize(this, savedInstanceState, CreateCrossFirebaseSettings());` and also I set the `googleRequestIdToken`
Calling the  `CrossFirebaseAnalytics.Current.LogEvent("MyEvent"`, parameters); doesn't do anything

[2021-04-07 15:58] rgiurea opened #11 "Calling GetDownloadUrlAsync() when Offline causes an internal endless loop"
Hi, thanks for the great plugin and your dedication.
I use the plugin and until now it works like a charm.

So I was trying (on Android only until now) to call the function `IStorageReference.GetDownloadUrlAsync()` on a valid storage reference. Problem is that when I am offline with my phone, the call gets stucked in the await and I see this  log message.
`E/StorageUtil: error getting token java.u

[2021-04-08 14:53] TobiasBuchholz commented on #11
The exception messages you are seeing in the logs are created in the native SDK and the error doesn't get populated, so unfortunately there is not a lot I can do about it. To keep the plugin's code as close as possible to the native code I prefer to not add any extra workaround functionality (at least for now).

The only solution to your problem I can think of is to add a progress observer to the

[2021-04-08 15:04] rgiurea commented on #11
OK, thanks for quick response. I will try to work around the issue with what you purpose. Cheers.

[2021-04-08 15:04] #11 closed

[2021-04-08 15:04] TobiasBuchholz commented on #10
What do you mean by "doesn't do anything"?
Did you checkout the Debug View in the project console?
Is the Analytics Debug Mode enabled on your device? You can do that by executing the following command:

```adb shell setprop debug.firebase.analytics.app <your_package_name>```

[Click here](https://firebase.google.com/docs/analytics/debugview?hl=en) for more information.

[2021-04-08 15:25] TobiasBuchholz commented on #9
No, there are no plans to create nugets containing only specific parts of the plugin.

I'm following the approach of the Xamarin.Essentials plugin to just include everything and let the linker remove anything that's not used. Until now I haven't done anything particular to achieve that except making sure everything works when the linker is activated. So to be honest I don't know what gets stripped

[2021-04-08 21:01] gnout commented on #10
@TobiasBuchholz By "doesn't do anything" I mean that I do not see data from the app in Firebase console (even after days)
I'm the only user of the app so I should be able to see that there is 1 user in Firebase Console for the Analytics. I sent some events but the Firebase Console Analytics events are empty.
Yes, I did check the debug view but nothing there.
I'm developing the app by using a physi

[2021-04-09 10:36] Mataboge opened #12 "Firestore: auto upload of ServertimerTimestamp with an attribute"
Hi

It would be very useful to have an attribute feature that uploads a FieldValue.ServerTimestamp() instead of the local property value to Firestore when performing a write function, and read the stored value when performing a read.

An example of this can be seen [here](https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/datamodel.html#server-side-timestamp) on the .Net

[2021-04-12 09:49] gnout commented on #10
@TobiasBuchholz Unfortunately, I still don't get any events, even after executing the command that you proposed.

![image](https://user-images.githubusercontent.com/5103845/114375514-031b2b80-9b85-11eb-8f0f-bb2ef4483a90.png)

[2021-04-12 10:22] gnout commented on #10
@TobiasBuchholz A few more details regarding the issue

Seems that the firebase instance is is not initialize although I did use the initialization code that I found in your examples
![image](https://user-images.githubusercontent.com/5103845/114379462-22b45300-9b89-11eb-9d0b-275458f38c0c.png)

This is the initialization code that I have
![image](https://user-images.githubusercontent.com/5103845/11

[2021-04-14 13:08] TobiasBuchholz commented on #10
Did you try to add the Xamarin.Firebase.Analytics package explicitly to your project file?

[code]

[2021-04-14 13:32] gnout commented on #10
@TobiasBuchholz No I haven't, but I will try to do that

[2021-04-26 23:06] Mataboge opened #13 "Firestore: simple compound query not working on iOS"
Simple query crashing on iOS

tested the two function below, and both crashed with error :
`NullreferenceException: NSvalue cannot be null`

the functions tested:

`Collection.WhereGreaterThan("property", value).GetDocumentsAsync<myObject>();`

`Collection.WhereGreaterThanOrEqualsTo("property", value).GetDocumentsAsync<myObject>();`

The equivalent works perfect on android with the same informatio

[2021-05-04 19:28] TobiasBuchholz commented on #13
The exception gets thrown inside of the Xamarin.Firebase.iOS.CloudFirestore package, so I'm afraid there is not much I can do about it.

What are you trying to accomplish with your query or what kind of object is `value`? I guess these methods are only working well with number or string values. One of the tests in [FirestoreTestFixture](https://github.com/TobiasBuchholz/Plugin.Firebase/blob/496357

[2021-05-04 19:30] #9 closed

[2021-05-27 00:56] donniefitz2 opened #16 "Create User"
Am I missing something, or is `CreateUserAsync(string email, string password)` missing from the shared project?

I see it exists in both platform projects, but it's not exposed in the shared project.

[2021-06-07 20:58] TobiasBuchholz commented on #16
The user actually gets created automatically when the `SignInWithEmailAndPasswordAsync(email, password)` is called and the user doesn't exist.

I've created a new version 1.0.8 which exposes the `CreateUserAsync(email, password)` method now. I've also added a boolean flag to the signIn-method, so you can choose whether a user gets created automatically or not. If you choose not to ceate it automat

[2021-06-07 21:36] donniefitz2 commented on #16
Okay, cool. That makes sense. I should have looked further into it. Thanks for the followup.

[2021-07-30 09:40] rgiurea opened #17 "Exception because of missing Activity on Android"
Hi,

thanks for the grate library. For our use case it works grate.

We noticed that on Android sometimes, normally on app resume or if you activate "Don't keep activities" in developer settings your library throws this exception:

"_**Current Activity is null, ensure that the MainApplication.cs file is setting the CurrentActivity in your source code so Firebase Analytics can use it.**_"

This are

[2021-07-30 09:47] rgiurea opened #18 "Possible nullpointer"
Hi,

there might be a nullpointer in the TrackEvent Method. I attached the stack trace maybe you can locate it.

`System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.NullReferenceException: Object reference not set to an instance of an object
at Plugin.Firebase.Analytics.FirebaseAnalyticsImplementation.LogEvent (System.String eventName

[2021-08-05 20:05] TobiasBuchholz commented on #17
Hi, thanks for the feedback! :)

The auth part of Plugin.Firebase is using James Montemagno's [Plugin.CurrentActivity](https://github.com/jamesmontemagno/CurrentActivityPlugin) to handle the current activity and this library gets initialized in the `FirebaseAuthImplementation.Initialize(Activity activity, Bundle savedInstanceState, string googleRequestIdToken)` method.

The plugin tries to access

[2021-08-05 20:06] TobiasBuchholz commented on #18
Hi, could you please provide a bit more information about how you are calling the LogEvent() method and at which platform this exception is occuring?

[2021-08-05 22:17] rgiurea commented on #18
Sadly this nullpointer occured in the crashlitics, so I don't have more. I will close this and keep an eye on it. When I understand it better I will open an issue again.

[2021-08-05 22:17] #18 closed

[2021-08-05 22:19] rgiurea commented on #17
OK. At the moment I catch the exception, so no crash occurs anymore. This doe not happen only with the "Don't keep activity" option on. It happens also when you get your app from the background after "some time". I will keep an eye on it and see if I can localise a fix and put it here if I find one.

[2022-01-28 08:04] hemant-mobmaxime opened #21 "Android Notification custom implementation"
First of the all, the library is great. Helps me to implement most of the firebase functionality in my app.

My only concern is when I send multiple notification in android, it's shows multiple notifications in notification bar & history. Is there a way that I can extend/exclude the service & create my notification customisation?

Or it would be a better to add grouping of the notification when mu

[2022-02-10 19:21] TobiasBuchholz commented on #21
Hi, thanks and sorry for the late response. The android `﻿FirebaseCloudMessagingImplementation` class contains a static property `NotificationBuilderProvider`, which is a function that lets you create a custom notification builder which should serve your needs.

[code]

[2022-02-17 18:44] Mataboge opened #22 "Attaching a listener on a compounded query first loads ALL the documents in the collection"
There seems to be a problem when attaching a listener to a compounded query, at first, all the documents in the collection are downloaded, instead of only those that "match" the query. This introduces financial implications when dealing with huge data. . The plugin continues to loads all the changes correctly when they occur. The main problem is the first initial loading, when attaching, were it f

[2022-02-20 06:53] Mataboge commented on #22
You are 100% correct, it was actually caused by something else.

[2022-02-20 06:53] #22 closed

[2022-02-20 08:11] Mataboge commented on #13
_value_ is of type **DateTimeOffset** , it is a timestamp, I use it to as a limiter to fetch documents that changed after a specific time

[2022-03-07 21:52] Kapusch commented on #12
Very good idea, this can be useful to get the update date or creation date of a document

[2022-03-07 22:00] Kapusch commented on #12
Or maybe could we somehow populate the fetched document Metadata with these two "UpdateDate" and "CreationDate" ?
[Google Firestore "RPC" documentation](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.v1#document)

[2022-03-12 17:58] Kapusch commented on #5
Hi @TobiasBuchholz , I have discovered your library very recently and that's really neat having such a wrapper for all the different Firebase services, thank you !

To answer your question, yes it works on a device. Only on Simulator it throws this KeyChain Access error.

My solution so that it works on Simulator too @sattasundar :
1. Enable Keychain in your Entitlements.plist file for your iOS pr

[2022-03-12 18:18] Kapusch opened #23 "[Feature] Implement Apple Sign In authentication method"
Hi @TobiasBuchholz ,

Again, thanks for this great library for which I will probably give a hand for new features.
I just wonder about if there is already a possibility to authenticate to Firebase using Apple Sign In ?

If no, any idea about how should we implement it ? With [Xamarin.Essentials](https://docs.microsoft.com/en-us/xamarin/essentials/web-authenticator?context=xamarin%2Fxamarin-forms&t

[2022-03-12 22:36] Kapusch commented on #23
@TobiasBuchholz , I have provided an implementation for Apple Sign In via OAuth credential, it works fine.
You can check the solution in my forked repo : https://github.com/Kapusch/Plugin.Firebase/commit/edd947fa8e5fa31a4c35799ee5af00a686a400ad

If you're fine with that solution, then I'll provide an example in your Samples project.

Just tell me if you would rather prefer having the specific [App

[2022-03-12 22:44] Kapusch opened #24 "[Feature] Enable Firebase emulators"
Hello @TobiasBuchholz ,

I wonder if this is currently possible to enable Firebase emulators with your library ?

As your library provides a wrapper for all Firebase services, it would be very good being able to activate the Firebase emulators instead of pointing to an actual Firebase instance.

Is it something you already planned to add ? Do you have an idea about the required implementation ?
I

[2022-03-13 08:50] Kapusch opened #25 "[Feature] Raise specific exceptions for common errors on all Firebase services"
Hello @TobiasBuchholz ,

I wonder about how to catch specific auth exceptions, such as :
- Wrong password,
- Unverified email,
- User not found,
- Session expired...

Actually, I would like being able to display the right message to the user according to the internal encountered error, whether it's related to Authentication or Firestore, Storage...
Is it possible with the current implementation ?

[2022-03-13 21:12] Kapusch opened #26 "Unhandled Exception on iOS implementation of RunTransactionAsync"
Hi @TobiasBuchholz ,

Just to let you know that exceptions cannot be handled if they occur in the iOS implementation for RunTransactionAsync :
https://github.com/TobiasBuchholz/Plugin.Firebase/blob/68f577fd8f09180ebeeaee24b4ccf92a632918e0/src/iOS/Firestore/FirebaseFirestoreImplementation.cs#L31
<img width="912" alt="image" src="https://user-images.githubusercontent.com/9576733/158079334-ddd5425f-5

[2022-03-16 21:07] Kapusch opened #27 "[Feature] Implement method to send a password reset email"
One missing feature which can be quickly added is the SendPasswordReset method that will send a link by email to reset the user password.
Here is the implementation on iOS : [docs](https://github.com/xamarin/GoogleApisForiOSComponents/blob/main/docs/Firebase/Auth/GettingStarted.md#send-a-password-reset-email)

[2022-03-23 23:44] CHIPSNetwork opened #28 "Custom Notification Sounds Don't Play on Android"
Notifications always play the default sound, rather than the specified on embedded as a resource in the Android Xamarin app

Steps to reproduce:
1 - In Visual Studio:  copy .wav file to ProjectName.Android/Resources/raw

2 - Confirm Build Action = AndroidResource

3 - Send notification using FirebaseAdmin with code similar to following:

Works fine in IOS, always plays default sound on Android.

D

[2022-03-27 19:57] Kapusch opened #29 "[Feature] Cover all data types that Cloud Firestore supports"
I can see that some of the [data types that Cloud Firestore supports](https://firebase.google.com/docs/firestore/manage-data/data-types?hl=en) cannot be stored in the database.

For example, it is not possible to store a document which contains a reference to another document :
[code]

[2022-03-27 20:08] Kapusch commented on #29
Hello @TobiasBuchholz , I have been able to cover the "reference" data type so that it can be stored in Firestore.
You can check implementation [here](https://github.com/Kapusch/Plugin.Firebase/commit/afb7a92e79681638a10afd86a0dbcd0fbace5ab2).

However, I don't know yet about how to cover the other missing data types. Any idea ?

[2022-04-07 19:21] #5 closed

[2022-04-07 19:21] #10 closed

[2022-04-07 19:23] #16 closed

[2022-04-07 19:24] #21 closed

[2022-04-07 19:44] TobiasBuchholz commented on #29
Hi @Kapusch, thank you very much for your feedback and interest in the library!

Unfortunately it's quite hard for me to see the relevent changes in your implementation because of all the code formatting differences.

On the `development` branch I've added an `.editorconfig` file that handles the code formatting and can be used to apply formatting rules by running `dotnet format src/Plugin.Firebas

[2022-04-07 19:47] TobiasBuchholz commented on #24
Sounds like a good idea, I will take a look into it.

[2022-04-07 19:49] TobiasBuchholz commented on #23
Hi @Kapusch, thank you very much for your feedback and interest in the library!

Unfortunately it's quite hard for me to see the relevent changes in your implementation because of all the code formatting differences.

On the `development` branch I've added an `.editorconfig` file that handles the code formatting and can be used to apply formatting rules by running `dotnet format src/Plugin.Firebas

[2022-04-08 09:47] TobiasBuchholz commented on #26
Hi @Kapusch,

this is indeed a problem and needs to be fixed. I can see no way how the calling code should be able to prevent the exception at this point. I've made a [fix](https://github.com/TobiasBuchholz/Plugin.Firebase/commit/951fe6d6fb0f722d788031ca450037ff84738a04#diff-f3365ab00185a17a4f65b439463a4b3972783f6979f44431e8404868c910829b) so this shouldn't happen in the upcoming versions of the l

[2022-04-08 09:47] #26 closed

[2022-04-08 09:51] TobiasBuchholz commented on #25
Hi @Kapusch

this probably makes sense so I will take a look into it. If you have any further suggestions on how to implement that you are welcome to share them here.

[2022-04-08 12:44] #13 closed

[2022-04-11 14:49] TobiasBuchholz commented on #24
Good news! The library will be able to support the usage of the firebase emulator suite. I've added the `UseEmulator(host, port)` wrapper methods at all supporting services and added a [new section](https://github.com/TobiasBuchholz/Plugin.Firebase#using-firebase-local-emulator-suite) to the project's README file for more information.

[2022-04-11 14:49] #24 closed

[2022-04-18 18:28] Kapusch commented on #24
Awesome, thank you !

[2022-04-18 18:31] Kapusch commented on #23
Sadly I am currently not much available, but I will keep you informed as soon as I can do it.

[2022-04-18 18:31] Kapusch commented on #29
Sadly I am currently not much available, but I will keep you informed as soon as I can do it.

[2022-04-18 18:32] Kapusch commented on #26
Thanks Tobias, willing to test this soon !

[2022-05-08 19:42] Kapusch opened #34 "Project not buildable anymore ?"
Hello @TobiasBuchholz, I did want to fetch your last commits in order to update my forked repo, but now I am not able to build the Plugin.Firebase project anymore (while it still build without your last commits).

I wonder, are you still able to build the project ?

Any thought on the error I get please ?
[code]

[2022-05-13 07:21] tranb3r opened #36 "Crashlytics"
Hi,

Do you plan to add a cross-platform wrapper for crashlytics?

Also, thanks for this great plugin!

[2022-05-15 10:12] Kapusch commented on #23
This will be covered with #37

[2022-05-29 14:25] Kapusch commented on #4
I encountered the same issue and have been able to solve it by following this procedure :
1.  Referencing the package Xamarin.Firebase.Analytics directly in the Android project,
2. Cleaning the projects (obj & bin folders to be deleted)
3. Restoring NuGet packages

[2022-05-31 13:35] tranb3r opened #40 "FirebaseInstallations"
Hi,

Is it possible to add a cross-platform wrapper for FirebaseInstallations ?

Thank you

[2022-06-01 19:45] #29 closed

[2022-06-08 08:07] #27 closed

[2022-06-08 08:08] #23 closed

[2022-06-08 08:08] #25 closed

[2022-06-14 10:01] tranb3r opened #44 "Plugin.CurrentActivity dependency"
This plugin depends both on Plugin.CurrentActivity and Xamarin.Essentials.
The 'CurrentActivity' functionality is available is Xamarin.Essentials.
So I think you could easily get rid of the Plugin.CurrentActivity dependency.
Or is there a reason to keep it? What do you think?

[2022-06-14 10:02] tranb3r opened #45 "Newtonsoft.Json vs System.Text.Json"
Hi,
Do you plan to migrate from Newtonsoft.Json to System.Text.Json for json serialization/deserialization?
Thanks.

[2022-06-28 10:12] angelru opened #48 ".NET MAUI"
Is your library compatible with .NET MAUI?

[2022-07-03 16:51] Mataboge commented on #12
Has there been any development regarding this?

[2022-07-04 10:34] TobiasBuchholz commented on #44
Yes you are right, this dependency could actually be removed. Unfortunately for some reason the `Xamarin.Essentials.Platform` namespace can't be resolved in the android `FirebaseAuthImplementation` class, see screenshot.

![screenshot](https://user-images.githubusercontent.com/1132836/177137519-273fd9f8-ad4f-49d9-ac12-3e9f1ba259e8.jpg)

I will keep an eye on it though.

[2022-07-04 10:36] TobiasBuchholz commented on #45
There is no migration planned yet, but for performance reasons this might be interesting. I will look into it when I've got the time. You are also welcome to create a PR :)

[2022-07-06 06:35] Mataboge opened #49 "Firestore: Unable to retrieve documents from a subcollection"
I use the code below to try retrieve documents from a subcollection, but it always returns an empty list

[code]

I have also noted that the IDocument wrapper does not have a **getCollection** method which the native document has.

[2022-07-08 10:15] angelru commented on #48
I don't know how to solve it either

[2022-07-08 10:31] TobiasBuchholz commented on #49
I wasn't able to reproduce your issue, for me it's working fine. I've added the `GetCollection()` method to the `IDocumentReference` class though.

I've also created a new test method that shows that both ways are working fine, maybe this gives you a hint.

https://github.com/TobiasBuchholz/Plugin.Firebase/blob/bdcb32f6a12a6c7629c348a56ea4b9742514db49/tests/Plugin.Firebase.IntegrationTests/Firesto

[2022-07-08 22:22] Mataboge commented on #49
@TobiasBuchholz thank you very much, managed to get it to work, the test method really helped

[2022-07-08 22:23] #49 closed

[2022-07-13 00:37] 420tech opened #50 "Question: Support for custom claims"
This is more of a question than a bug. Does this library support retrieving custom claims for the authenticated user?

[2022-07-13 08:46] TobiasBuchholz commented on #50
Nope, not yet, but it seems to be easy to add, so it will be in there in the next version.

[2022-07-13 20:50] 420tech opened #51 "Package does not install on iOS project"
Using Visual Studio 2022 (repos both on Windows and Mac).

File->New Project. Choose Tabbed template. Compiles and builds.
Add Plug.Firebase to Shared Project, Android and iOS. Package fails to install on iOS with this error Install-Package : Could not find a part of the path 'C:\Users\timbe\.nuget\packages\xamarin.facebook.sharekit.ios\12.2.0\lib\xamarinios10\Facebook.ShareKit.resources\FBSDKShar

[2022-07-17 20:34] Kapusch opened #52 "[Feature] Provide Reauthenticate method under CrossFirebaseAuth.Current.CurrentUser"
Hi @TobiasBuchholz , recently Apple requested app developers to provide a way for their users to delete their account.

I was happy to find the _DeleteAsync_ method under **CrossFirebaseAuth.Current.CurrentUser**, however I have faced a [FIRAuthErrorCodeRequiresRecentLogin](https://firebase.google.com/docs/reference/ios/firebaseauth/api/reference/Enums/FIRAuthErrorCode#/c:@E@FIRAuthErrorCode@FIRAu

[2022-07-26 13:33] TobiasBuchholz commented on #50
The current version 1.1.2 now supports custom claims for user authentication. You can take a look at the following links to get more information.

https://github.com/TobiasBuchholz/Plugin.Firebase/blob/d4d4b0ca175ceb28fcc5b5d4e42b098ea31abbf7/src/Shared/Auth/IFirebaseUser.cs#L64

https://github.com/TobiasBuchholz/Plugin.Firebase/blob/d4d4b0ca175ceb28fcc5b5d4e42b098ea31abbf7/src/Shared/Auth/IAuthTo

[2022-07-26 13:33] #50 closed

[2022-07-30 17:53] Kapusch opened #53 "[Android] Firestore: Couldn't put object of type Plugin.Firebase.Android.Firestore.DocumentReferenceWrapper into HashMap"
Hi @TobiasBuchholz, I am currently testing your library on my Android app, and there's actually an error when setting data to a document reference using : `batch.SetData(shortUserReference, shortUserAccount);`

## StackTrace
[code]

## Setup
Visual Studio Community 2022 for Mac (17.0.7)
Xamarin.Android (12.3.3.3)
Xamarin.Forms (5.0.0.2012)
Plugin.Firebase V1.1.2

Here is an extract of the model I'

[2022-07-30 18:17] Kapusch opened #54 "[Android] NullPointerException when updating user profile"
Hi, nothing big but on Android, there's an exception when updating the user profile with a **null** photo url using :
`await CrossFirebaseAuth.Current.CurrentUser.UpdateProfileAsync(username, null);`

But apparently, this is an allowed value :
<img width="564" alt="image" src="https://user-images.githubusercontent.com/9576733/181936256-c046073c-aa55-4811-9445-9ff0971f9e1e.png">

## StackTrace
[cod

[2022-07-30 19:54] Kapusch opened #55 "[Android] Firestore: System.ArgumentException: Object of type 'System.Double' cannot be converted to type 'System.Single'"
Hi @TobiasBuchholz, I am currently testing your library on my Android app, and there's actually an error when reading an existing document from the DataBase using : `documentSnapshot.Data`

[code]

## StackTrace
[code]

## Setup
Visual Studio Community 2022 for Mac (17.0.7)
Xamarin.Android (12.3.3.3)
Xamarin.Forms (5.0.0.2012)
Plugin.Firebase V1.1.2

## Context
I guess it's the **IDocumentReferenc

[2022-07-30 20:57] Kapusch commented on #24
Hi @TobiasBuchholz , I did want to try it out, but actually I'm not able to call **UseEmulator** from any of your exposed services (Auth, Firestore, Storage, ...)

`'IFirebaseFirestore' does not contain a definition for 'UseEmulator' and no accessible extension method 'UseEmulator' accepting a first argument of type 'IFirebaseFirestore' could be found (are you missing a using directive or an assem

[2022-07-31 20:37] Kapusch opened #56 "[Question] Firebase Auth - How to handle untrusted providers when signing in ?"
Hi @TobiasBuchholz , I noticed a problem which can be annoying for my users :

<img width="379" alt="image" src="https://user-images.githubusercontent.com/9576733/182044150-5a4d249b-221b-4009-861f-3a1e2ba87eaf.png">

Indeed, in my Firebase project I have allowed [multiple accounts with the same email address](https://support.google.com/firebase/answer/9134820) and this means a user will be always

[2022-07-31 20:39] Kapusch commented on #56
Note : I have found different threads on the Web mentioning this issue, and [here](https://stackoverflow.com/a/44528975/4585688) there's actually a diagram which can help understanding a possible solution to implement :
<img width="971" alt="image" src="https://user-images.githubusercontent.com/9576733/182044488-99f2f977-7a22-43ae-aa58-14851cdaf670.png">

[2022-08-14 11:09] Kapusch opened #58 "Firestore : System.ArgumentException: Do not know how to marshal object of type 'Plugin.Firebase.Firestore.FieldValue' to an NSObject"
Hi @TobiasBuchholz , I am currently doing some tests about your Firestore "Update" methods, so that I can just "patch" specific fields instead of completely overwriting my object on Firestore.

While this methods works great : `myDocumentReference.UpdateDataAsync(updates);` , it doesn't work anymore in a transaction context for some types like IEnumerable, FieldValue, ... The error says it cannot

[2022-08-14 21:47] Mataboge opened #59 "CloudMessaging: CrossFirebaseCloudMessaging.Current.NotificationTapped not invoked when app is killed"
The `CrossFirebaseCloudMessaging.Current.NotificationTapped` method is invoked when a user taps on a notification which was received when an app is in the background, in this case the method works. The Foreground method of receiving notifications also works perfect.

The issue comes when a user kills an app (by sliding up on both Android & iOS), and later receivers a notification: The notification

[2022-08-17 15:52] TobiasBuchholz commented on #58
Hi @Kapusch, there was indeed a problem, on android as well. I've created a fix for that issue and committed it to the development branch, so it will be available in the next version.

[2022-08-17 15:52] #58 closed

[2022-08-17 16:05] TobiasBuchholz commented on #55
Hi @Kapusch, is it possible for you to show some code, e.g. the class that is the snapshots data type? It would also be interesting to see how this object is represented in the firestore database at the firebase console, could you mabe take a screenshot?

[2022-08-17 17:44] TobiasBuchholz commented on #54
I've created a fix for that issue and committed it to the development branch, so it will be available in the next version.

[2022-08-17 17:44] #54 closed

[2022-08-17 18:43] Kapusch commented on #58
Awesome ! Thank you Tobias, I will try it once the NuGet will be available 👍

[2022-08-17 21:20] Kapusch commented on #55
Sure ! I was not able to reproduce it with a small project... I will try to make it fail tomorrow on Android and will notify you with a link to MRE.

[2022-08-17 21:21] Kapusch commented on #53
Hi @TobiasBuchholz , please find this MRE to reproduce the issue on Android : [PluginFirebase_Issue_55.zip](https://github.com/TobiasBuchholz/Plugin.Firebase/files/9366135/PluginFirebase_Issue_55.zip)
All you need to do is pressing the button specific for this issue

Thanks in advance !

[2022-08-18 11:08] mrtcn commented on #51
I am having the same issue. @420tech  Did you find a solution to it?
I have installed the package on my vs for mac successfully and pulled the changes on my windows machine however the package is somehow not recognized on windows. It seems to be installed on nuget package manager but in the code I get the following errors;
`The type or namespace name 'Firebase' does not exist in the namespace 'Plu

[2022-08-18 14:10] TobiasBuchholz commented on #53
Hmm, after running your test project both button clicks seemed to work, see the screenshots:

![Screenshot_20220818-153515](https://user-images.githubusercontent.com/1132836/185414875-0a107bef-fcc3-46c4-b5cc-181ddd4e8894.png)
![Screenshot_20220818-153524](https://user-images.githubusercontent.com/1132836/185414886-bfb330f6-c996-4edb-a96b-5d776f8f6efa.png)

I've created a test for it myself and als

[2022-08-18 20:18] Kapusch commented on #34
Hi @TobiasBuchholz , I would like to debug my app with a direct reference to your project, but I'm still not able to build it
`Done building target "_UpdateAndroidResgen" in project "Plugin.Firebase.csproj" -- FAILED.`

I'm building the app on VS For Mac, so I wonder if that's something related to file encoding...
Do you have any thoughts on this ?

Here is the exact error I have when building Plu

[2022-08-18 20:44] Kapusch commented on #34
Well, finally I have replaced the target framework "MonoAndroid90" to "MonoAndroid10.0" in your Plugin.Firebase.csproj and it fixed the issue...
As I guess it's related to my setup, I will close the ticket !

[2022-08-18 20:47] Kapusch commented on #53
Hello @TobiasBuchholz , did you test the sample app with a reference to your last released NuGet ?
Because I tried it with a direct reference to your project (not the NuGet) for debug purpose, and it's exactly as you said : the error is not reproducible...

Would it be possible that the NuGet has been released without the fix ? (e.g. Merge conflict, ...)

[2022-08-19 13:34] TobiasBuchholz commented on #53
I've just unpacked your zip file, opened the project, restored the nuget packages and started it. The project is referencing the plugin version 1.1.2 and if you decompile the package you can see the code for the fix is contained:

<img width="1680" alt="Screenshot 2022-08-19 at 15 28 23" src="https://user-images.githubusercontent.com/1132836/185630036-c5bc8f32-eaab-4a44-9733-87c06f4aa2d3.png">

So

[2022-08-20 19:41] Mataboge commented on #59
It turns out the method is being called correctly, the issue was in my implementation where the method is being called before my custom initialisation has completed. Was a bit harder debugging an app in a dead-state.

[2022-08-20 19:41] #59 closed

[2022-08-20 20:34] Kapusch commented on #34
That was probably a piece of luck... workaround is finally false positive !
I have open a ticket in [Xamarin.Android repo](https://github.com/xamarin/xamarin-android/issues/7287) to get their expertise on this, but same, they are not able to reproduce the issue with your library...

However, I'm finally now able to isolate the issue !
It happens as soon as I reference the following android package

[2022-08-20 21:23] Kapusch commented on #34
After I spent 10 hours on this mystical issue, I finally spotted it !
It is difficult to accept that only one library was causing the whole failure of MSBuild Task for Android, without any hint, even with diagnostic verbosity...

Anyway, I have tested the solution and it solved it, @TobiasBuchholz  could you please update the `Xamarin.GooglePlayServices.Auth` library to [v120.2.0.2](https://www.nu

[2022-08-21 09:41] TobiasBuchholz commented on #59
Sorry for not responding earlier but I'm glad you were able to resolve this issue! :)

[2022-08-21 10:22] Kapusch commented on #53
You were right @TobiasBuchholz , I completely forgot that I had referenced a local version I made of your package, with the exact version number ... obviously this has led to mismatch the actual one I did want to target !

Indeed, here is what mentions the [documentation about package references](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#nugetdefaultsconfig

[2022-08-21 10:22] Kapusch commented on #53
Referencing your package from the right source did fix the issue, closing ticket, thanks Tobias for your help.

[2022-08-21 10:22] #53 closed

[2022-08-21 14:27] Kapusch opened #62 "[Emulators] System.MissingMethodException: Method not found: void Firebase.CloudFirestore.Firestore.UseEmulatorWithHost(string,uint)"
Hello @TobiasBuchholz , I tried to configure the emulator mode for Firestore & Authentication, but I have a `MissingMethodException` saying that _UseEmulator_ is not found :

<img width="636" alt="image" src="https://user-images.githubusercontent.com/9576733/185795296-6edcdd95-2b52-44f9-87da-b8e7a8db3c96.png">

I guess it possibly requires following `a preserve` attribute above the classes:

- htt

[2022-08-21 15:07] Kapusch commented on #34
Actually, I've been able to fix it by reverting `Xamarin.GooglePlayServices.Auth ` to [119.0.0](https://www.nuget.org/packages/Xamarin.GooglePlayServices.Auth/119.0.0)

This avoids you to support MonoAndroid12.0 instead of MonoAndroid90

[2022-08-21 17:19] Kapusch commented on #55
Hi @TobiasBuchholz, you will be able to reproduce issue with the following project : [PluginFirebase_Issue_53.zip](https://github.com/TobiasBuchholz/Plugin.Firebase/files/9389661/PluginFirebase_Issue_53.zip)

The conversion issue occurs when parsing a Firestore `number` property to a `float` in C#.
[code]

Workaround is to change property type from `float` to `double`

[2022-08-21 17:41] Kapusch commented on #55
The main issue occurs here :
https://github.com/TobiasBuchholz/Plugin.Firebase/blob/a7114d264c25c225c4917ca62690f20a7ac4440a/src/Android/Extensions/JavaObjectExtensions.cs#L45

where this is trying to set a System.Double to a System.Float

[2022-08-21 20:10] Kapusch commented on #62
I think it's related to my main app.
Closing as I was at least able to add a document using emulator in a dummy app.

[2022-08-21 20:10] #62 closed

[2022-08-22 07:59] #34 closed

[2022-08-22 10:21] TobiasBuchholz commented on #55
Thanks for the pinpointing @Kapusch! I've created a fix and committed it to the development branch.

[2022-08-22 10:21] #55 closed

[2022-08-22 12:06] #12 closed

[2022-08-22 19:40] Kapusch commented on #56
Hi @TobiasBuchholz , I just would like to inform you that I'm planning to work on this one.
I will keep you informed further this week

[2022-08-23 21:04] Kapusch commented on #56
Finally, I was not able to retrieve the email used by the user in the Facebook sign in flow, so I simply "catched" the right error in order to raise a specific `CrossFirebaseAuthException` accordingly.

An improvement could be to retrieve user email in the catched exception, and then fetch the associated sign in methods to help the user to understand "which trusted provider he must use", but that'

[2022-08-23 21:16] Kapusch commented on #56
#64

[2022-08-24 09:22] #56 closed

[2022-08-24 09:25] TobiasBuchholz commented on #56
Thanks a lot for your efforts @Kapusch! Your PR is merged now and available in the plugin version 1.1.4 :)

[2022-09-04 13:56] Kapusch commented on #58
Indeed, it seems it has fixed one issue over the two I had.

While applying `UpdateData` in a batch does work as of now, requesting `UpdateDataAsync` is still causing same issue with Plugin.Firebase 1.1.4 :
[code]

[2022-09-04 13:59] Kapusch commented on #58
Note : my workaround is to use FieldValue.ArrayUnion / FieldValue.ArrayRemove instead

[2022-09-07 11:39] TobiasBuchholz commented on #58
@Kapusch I've created a new version 1.1.5 which should fix that issue.

[2022-09-08 13:07] TobiasBuchholz commented on #48
The new version 1.2.0 now supports .NET MAUI applications! 🚀 Take a look at [section .NET MAUI support](https://github.com/TobiasBuchholz/Plugin.Firebase#net-maui-support) in the README for more information.

[2022-09-08 13:07] #48 closed

[2022-09-08 13:08] TobiasBuchholz commented on #44
With version 1.2.0 the depency to `Plugin.CurrentActivity` is now removed.

[2022-09-08 13:08] #44 closed

[2022-09-08 18:17] andreas-nesheim opened #65 "Not able to install in a .NET MAUI project"
I get the following error when I try to install the latest version (1.2.0) into a .NET MAUI project:

Could not find a part of the path 'C:\Users\andre\.nuget\packages\xamarin.firebase.ios.installations\8.10.0.1\lib\net6.0-ios15.4\Firebase.Installations.resources\FirebaseInstallations.xcframework\ios-arm64_i386_x86_64-simulator\FirebaseInstallations.framework\Headers\FirebaseInstallations-umbrella

[2022-09-08 20:02] andreas-nesheim commented on #65
I tested it on VS for Mac and it worked fine there. A friend of mine mentioned that this could be the MAX_PATH on Windows kicking in and suggested that I enabled Long Path support: https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-long-path

I tried this, but it still didn't seem to work. The article mentioned that the dotnet CLI already supports long paths, so I tried adding

[2022-09-08 20:56] TobiasBuchholz commented on #65
Cool, thanks a lot for the insight! 👍 I've updated the README with that hint and will close this issue.

[2022-09-08 20:56] #65 closed

[2022-09-10 01:27] ohumidk opened #66 "Nuget on Vs for Mac"
Is this available on VS for mac. I just created a new MAUI project and once I add the Nuget.Package and add the code in the sample I will just get the following error.

Error CS0234: The type or namespace name 'Android' does not exist in the namespace 'Plugin.Firebase' (are you missing an assembly reference?) (CS0234)

[2022-09-12 07:15] TobiasBuchholz commented on #66
Yes, this is available on VS for mac. Did you maybe forget to use the [conditional preprocessor directives](https://docs.microsoft.com/en-US/dotnet/csharp/language-reference/preprocessor-directives#conditional-compilation) like `#if ANDROID`?

[2022-09-13 08:46] djordje200179 opened #67 "Current Activity is null"
When I run the app on Android the exception "_Current Activity is null, ensure that the MainApplication.cs file is setting the CurrentActivity in your source code so Firebase Analytics can use it._" is raised, and I can't figure out am I doing something wrong.

I have initialized the plugin as stated in documentation.
![image](https://user-images.githubusercontent.com/17686905/189850997-0b7be437-8

[2022-09-13 17:30] jrahma opened #68 "Mac Catalyst and Windows"
Hi,

Appreciate if you add support to .NET MAUI's Mac Catalyst and Windows.

Thanks,
Jassim

[2022-09-14 14:51] nodoid opened #69 "NRE being thrown when iOS app is started"
I am using the plugin for cloud messaging. Using the demo code, I have everything set correcty. The app builds without an issue but when I start the application running, I'm met with this

[0:] An error occurred: 'Object reference not set to an instance of an object.'. Callstack: '   at Plugin.Firebase.Auth.FirebaseAuthImplementation.Initialize(UIApplication application, NSDictionary launchOptions

[2022-09-15 11:51] Shalafi280438 opened #70 "Could not install nuget package on VS 2022"
I tried to install the nuget package on Visual Studio 2022.

But i get the error:

I already set the LongPathsEnabled to 1 on the registry. But it doesn't work.

[2022-09-15 12:03] TobiasBuchholz commented on #70
Try to add the package via `dotnet add package Plugin.Firebase`, see https://github.com/TobiasBuchholz/Plugin.Firebase/issues/65 for more information.

[2022-09-15 12:08] Shalafi280438 commented on #70
Big thx mate, it works.
Sorry i didn't see that closed Issus.

[2022-09-15 12:08] #70 closed

[2022-09-15 12:15] TobiasBuchholz commented on #70
No problem! There was also already a hint in the installation section of the README.
I've made it a bit more prominent now ;)

[2022-09-18 08:14] SarthakGz opened #73 "Any way to build my Windows and Mac catalyst app with Plugin.Firebase"
I am totally fine with Plugin.Firebase does not support Windows and Mac catalyst but after installation Plugin.Firebase I am not able to run my windows app.

Is there any way I can use  Plugin.Firebase for android and iOS and still able to run my windows and Mac

I had to do <TargetFrameworks>net6.0-android;net6.0-ios</TargetFrameworks>
In order to able to build my project which means now windows

[2022-09-19 19:33] ThomasBernard03 opened #74 "Couldn't retrieve FCM token"
Hello, I have a problem with ```await CrossFirebaseCloudMessaging.Current.GetTokenAsync();```

This line throw an Exception : Couldn't retrieve FCM token

I'm using .NET Maui, VS Mac and debugging on Iphone 13 Simulator

StackTrace : ```at Plugin.Firebase.CloudMessaging.FirebaseCloudMessagingImplementation.GetTokenAsync()
   at InitManage.ViewModels.Login.LoginViewModel.OnLoginCommand() in /Users/

[2022-09-19 19:58] tegrityllc commented on #69
Same.  Appears the launchOptions are always null.

[2022-09-20 08:03] TobiasBuchholz commented on #74
Hi, I would guess this happens because Cloud Messages are not supported on iOS simulators. Did you try the same code on a device as well?

[2022-09-20 09:12] ThomasBernard03 commented on #74
Yes probably, I'll try this week on a real device and I'll let you know

[2022-09-20 10:59] Cizzl opened #75 "Firebase Realtime feature"
Would it be possible to add a feature to use the realtime database?

[2022-09-23 10:08] SarthakGz commented on #75
@Cizzl you can use https://www.nuget.org/packages/FirebaseDatabase.net library for that

[2022-09-23 10:11] SarthakGz commented on #68
I don't think firebase notification support windows platform

[2022-09-23 10:43] TobiasBuchholz commented on #75
Yes, it would be possible, but I'm not planning on adding support for the realtime database since firestore is the alternative approach and suffices my needs. But you are very welcome to write the wrappers around the native realtime sdks yourself and create a PR :)

[2022-09-23 10:43] #75 closed

[2022-09-23 11:26] #74 closed

[2022-09-23 12:41] #68 closed

[2022-09-23 13:15] TobiasBuchholz commented on #73
I think this should be able by using [MSBuild conditions](https://learn.microsoft.com/de-de/visualstudio/msbuild/msbuild-conditions?view=vs-2022) in your `.csproj file` like this:

[code]

Also in your code files you can add [preprocessor directives](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directives#conditional-compilation) where necessary. Hope this helps!

[2022-09-23 13:19] #73 closed

[2022-09-26 11:46] Shalafi280438 commented on #69
I have the same problem.
Is there any fix yet?

[2022-09-26 13:18] TobiasBuchholz commented on #69
If anyone could provide a sample project that contains this issue I will take a look, thanks✌️

[2022-09-27 07:51] Shalafi280438 commented on #69
[MAUIiOS.zip](https://github.com/TobiasBuchholz/Plugin.Firebase/files/9653103/MAUIiOS.zip)

This is a simple sample project, i tested it and have the same issue.
(i deleted the GoogleService-Info.plist)

[2022-09-27 20:04] TobiasBuchholz commented on #69
Thanks @Shalafi280438, but unfortunately I'm not able to install your project onto my iOS simulator with the following error:

The error occurs with Visual Studio for Mac and also with Rider. Any idea what could cause this?

@tegrityllc Apparently the launchOptions are always null and don't cause any problems, at least that's the case for my projects. I've noticed in the .csproj file of @Shalafi28

[2022-09-29 06:22] Shalafi280438 commented on #69
Maybe you can't install the project because it is created with the new Preview-version of Visual Studio?

I always read that the plist must be placed in the Platforms Folder, but i will try next week when i'm in office again ;)

[2022-10-01 10:36] lukas8092 opened #76 "Custom notification icon shows only when i am in app"
I am using this to change notification icon like it was on this website [Link](https://www.andreasnesheim.no/push-notifications-in-net-maui-with-firebase/)
In MainActivity.cs `FirebaseCloudMessagingImplementation.SmallIconRef = Resource.Drawable.notify_icon;`
[code]
My custom icon show up only when i am in the app, when app is on background or its not running, it's only show that default white squ

[2022-10-01 19:13] thomasftg opened #77 "Auth State Changed listener?"
I'm unable to find where this is exposed or how to attach lifecycle events to Auth State Changed  events to detect previously logged in users and capture sign out workflows that need to occur for cleanup.

Any hints? :)

[2022-10-01 19:55] thomasftg commented on #77
Is this exposed somewhere?  https://github.com/xamarin/GoogleApisForiOSComponents/blob/main/docs/Firebase/Auth/GettingStarted.md#listen-for-authentication-state

Just confirmed on a vanilla maui app, logged in and restarted app - current user is null.

[2022-10-02 00:55] thomasftg commented on #77
Looks like it is hydrating properly within the wrapper of FirebaseAuth; leaving this here in case anyone else falls into my awesome Saturday trap :)

`CrossFirebaseAuth.Current?.CurrentUser;`

[2022-10-02 00:55] #77 closed

[2022-10-04 04:58] AdamBebko opened #78 "Default Firebase App Not Initialized, but not clear how to add package explicitly [Android]"
I am getting this error but am not to sure what it means to "add the package explicitly".

I have the Plugin.Firebase package installed via nuget, and everything works great in iOS. In Firebase Console I can see the analytics register for IOS when I open the app. But android is giving this error at runtime, and no Firebase Analytics seem to register at all.

![Screen Shot 2022-10-04 at 1 09 59 AM]

[2022-10-04 11:15] TobiasBuchholz commented on #76
You'll need to add the reference to the icon also to your `AndroidManifest.xml` like this:
[code]

You can take a look at the [sample app](https://github.com/TobiasBuchholz/Plugin.Firebase/blob/5bdf758c1b1683cf614a1e1e895a043af6864819/sample/Playground/Platforms/Android/AndroidManifest.xml#L24).

[2022-10-04 11:23] TobiasBuchholz commented on #78
This is only needed if you are using the Plugin.Firebase.Legacy package, but as far as I understand it you are using the newest version 1.2.0, so this step isn't necessary.

The message `the default Firebase App is not initialized` could also mean that something is wrong with you google-services.json setup. Did you put it in the root of your project directory?

[2022-10-04 14:42] lukas8092 commented on #76
Thank you, i didn't notice it.

[2022-10-04 14:42] #76 closed

[2022-10-05 12:46] Shalafi280438 commented on #69
It still doesn't work.
I tried to use Firebase on an Xamarin.Forms App with the Plugin.FirebasePushNotification Package, but on iOS i got nearly the same error.

Is it normal that i got several errors while starting the app?

`2022-10-05 14:45:33.558 Xamarin.PreBuilt.iOS[1108:205729] Could not resolve assembly Microsoft.VisualStudio.DesignTools.TapContract, Version=17.0.0.0, Culture=neutral, Publi

[2022-10-05 13:45] JoshZA opened #79 ".net7 support"
Is .net 7 support in the pipeline?

[2022-10-06 04:10] AdamBebko commented on #78
Thanks for the quick reply. Yes it's in my root directory.

I have this in my CSPROJ file

[code]

It seems MAUI is finding the plist on iOS with no problems, but not the json on android. I'm running android in the emulator. Could that be the issue?

I can't think of anything else.

[2022-10-06 06:17] AdamBebko commented on #78
I Finally figured it out. Exasperated, I created a fresh app, and tried to find the source of the issue. The issue was that the package name (i.e. com.me.myapp) was different in the CSPROJ file compared to the google services json's package's. I guess Visual Studio puts in some filler there, rather than the correct package name.

I was able to view debug events from analytics and everything now. T

[2022-10-06 07:48] TobiasBuchholz commented on #78
Nice, I'm glad you were able to find a solution to your problem! It's a good hint and it'll surely help other users in the future, thanks! 👍

[2022-10-06 07:48] #78 closed

[2022-10-06 07:54] TobiasBuchholz commented on #79
When the underlying packages are supporting it, I'll update the plugin as well.

[2022-10-06 07:54] #79 closed

[2022-10-07 09:16] clough360 opened #81 "Fails to build on IOS when installed with other Nuget packages (MAUI)"
### Description
When adding Plugin.firebase to an existing working .NET MAUI project, the app fails to build on IOS (still builds on Android).

The following error is reported:
[code]

This error is reported whether building locally or using CI (Azure DevOps).

I have confirmed the issue by removing the plugin nuget package, which allows the project to build.

This seems to be a clash with skiasha

[2022-10-08 16:28] Kapusch commented on #81
Hi @clough360 , indeed your error seems pointing an issue from SkiaSharp library, although it may be already fixed with this [PR](https://github.com/mono/SkiaSharp/pull/2198).

Did you try to update SkiaSharp library upto v2.88.1 ?

[2022-10-10 13:29] balazs-adam commented on #69
I believe the problem is that Firebase app itself is not getting initialized. I've tried to run the sample initializing the cloud messaging only (`new CrossFirebaseSettings(isCloudMessagingEnabled: true)`). Doing so throws the following exception:
[code]

If the Firebase app is not initialized properly (calling the `Firebase.Core.App.Configure` method) then the following reference will throw NRE:

[2022-10-10 14:27] clough360 commented on #81
I'm using the latest version of MAPSUI (4.0.0 b5) which has a dependency on SkiaSharp >=2.88.1:
![image](https://user-images.githubusercontent.com/12503052/194888327-a6c0227b-6cc5-426d-a29d-3c5d9109b01d.png)

I've checked in the build directory and it is definitely using 2.88.1

[2022-10-10 15:35] clough360 commented on #81
I have manyally added Nuget packages for
* SkiaSharp
* SkiaSharp.Harfbuzz
* SkiaSharp.Views.Maui.Controls
* SkiaSharp.Views.Maui.Core

When I add v2.88.1, the app will not compile.
When I add v2.88.3 (latest stable), the app will compile.

The critical lib was Harfbuzz, the app would not compile without this at 2.88.3

I will raise a ticket for MAPSUI to update dependencies.

[2022-10-11 07:42] Shalafi280438 commented on #69
So is there a workaround or something to get it working?

[2022-10-11 12:02] nodoid commented on #69
Hi,

Until Microsoft fix the underpinning nuget, it remains broken and so
there isn't a work around :(

Paul

[2022-10-14 20:08] JoshZA commented on #78
This is gold, please add to the official docs @TobiasBuchholz

[2022-10-15 23:21] OroviaTraining commented on #81
On IOS when I run, The app icon is created OK. But the app terminates with the message

[0:] An error occurred: 'Object reference not set to an instance of an object.'. Callstack: '   at Plugin.Firebase.CloudMessaging.FirebaseCloudMessagingImplementation.RegisterForRemoteNotifications()
   at Plugin.Firebase.CloudMessaging.FirebaseCloudMessagingImplementation.Initialize()
   at Plugin.Firebase.iOS

[2022-10-16 10:39] Kapusch commented on #81
Hi @OroviaTraining , this sounds completely different.
Could you please reference your issue in a new ticket ?

[2022-10-18 10:25] leungkimming opened #83 "NotificationTapped always return the same notification - the first notification"
Dear Experts,

I encountered a very strange issue. Below steps to reproduce:
1. Setup Google Firebase for Android as normal
2. Open the Plugin.Firebase-development\sample\Playground\Playground.csproj in VS2022
3. Download from Google Firebase and Replace the google-services.json inside the project. Update the ApplicationID in csproj to match that of google-services.json
4. Add one line to show the

[2022-10-23 09:04] leungkimming opened #84 "Found a potential bug in FirebaseCloudMessagingImplementation"
In HandleShowLocalNotification, PendingIntentFlags shoud include UpdateCurrent apart from Imutable.

        private static void HandleShowLocalNotification(FCMNotification notification)  {
           . . .
           var pendingIntent = AndroidApp.PendingIntent.GetActivity(_context, 0, intent,
                AndroidApp.PendingIntentFlags.Immutable | AndroidApp.PendingIntentFlags.UpdateCurrent);

[2022-10-26 02:29] leungkimming commented on #84
[PR 85 created](https://github.com/TobiasBuchholz/Plugin.Firebase/pull/85)

[2022-10-26 08:36] ahmad-hosseini opened #86 "Deploying to iOS using Xcode 14.1"
We're trying to deploy our application to TestFlight but we keep getting an error when using this package. Here's one of the errors:

`ITMS-90482: Invalid Executable - The executable 'MyMobileApp.app/Frameworks/FirebaseCore.framework/FirebaseCore' contains bitcode. `

It seems the package has enabled bitcode, whilst we haven't. This mix isn't allowed and in Xcode 14 bitcode was deprecated. Is ther

[2022-10-26 15:50] DavidShochet opened #87 "CrossFirebaseSettings is not found"
I am trying to use the plugin with .Net MAUI. I cannot compile the project. E.g. CrossFirebaseSettings is not found. The sample I downloaded has the same issue.

[2022-10-26 19:43] #84 closed

[2022-10-26 19:43] #83 closed

[2022-10-26 20:30] vhugogarcia commented on #67
I am facing the same issue you are @djordje200179 . Did you find a workaround for it?

[2022-10-26 20:41] djordje200179 commented on #67
@vhugogarcia Nope :/
I have tried a lot of things, but that didnt solve the problem. And unfortunately owner of the repo didn't say anything about the issue. So we are stuck until someone figures out what we are doing wrongly.

[2022-10-26 20:47] vhugogarcia commented on #67
I tried to implement Analytics on my own following the same logic from this plugin without success. After debugging the issue the activity is not null, somehow the Initialize static method is not assigning correctly the object for instance it is null.

https://github.com/TobiasBuchholz/Plugin.Firebase/blob/c2d5c5f8bfb598c4cb8439a0ac2f6db6cee92c69/src/Android/Analytics/FirebaseAnalyticsImplementati

[2022-10-27 07:51] TobiasBuchholz commented on #86
Hi @ahmad-hosseini, this package is just a crossplatform wrapper around the native firebase packages provided by Microsoft. You might find an answer to your question at their [repository](https://github.com/xamarin/GoogleApisForiOSComponents) or you can ask it again there. Hope this helps!

[2022-10-27 07:54] TobiasBuchholz commented on #67
Hi, sorry for not giving any feedback yet, I was hoping the problem might have solved itself. If you provide me with an example project with this issue I can take a look and try to help.

[2022-10-27 08:01] Ghevi commented on #69
Hi I also experience the same issue. I'm trying to deploy the app to a phisical device.
This exception happens both on windows machine and mac.
Another example of how to implement push notifications on ios is [this one](https://github.com/michalpr/Docs/blob/main/Firebase_MAUI_iOS_push_notification.md) but in the readme it says that this only works on release.
It's the first time I implement push n

[2022-10-27 11:34] Ghevi commented on #69
Ok so after some tries with the link i provided in the comment above, i managed to make notifications works on iOS device even in debug.
The firebase options initialization throws exception on Windows machine but it works on Mac!
The package `Xamarin.Firebase.iOS.CloudMessaging` that it's used in that repo for some reason gave me some missing resource error.
So i'm still using the `Plugin.Firebase

[2022-10-27 18:26] #87 closed

[2022-10-28 08:29] #66 closed

[2022-10-31 01:57] ahmad-hosseini commented on #86
Hey @TobiasBuchholz that is helpful.

For anyone else having the same issue, it is currently being tracked here:
https://github.com/xamarin/GoogleApisForiOSComponents/issues/578

[2022-10-31 01:59] ahmad-hosseini commented on #86
<details>
<summary>Details</summary>

</details>

[2022-10-31 01:59] #86 closed

[2022-11-01 13:38] Lyror opened #88 "Firstore Utc Offset gets lost"
I'm currently trying to fetch some time data from firestore.

[code]
Models.Ticket Properties
[code]
firestore entity
![image](https://user-images.githubusercontent.com/10835078/199244946-97cabbda-7062-4bb3-86dc-6fd23b77925f.png)

The problem is that if I do `Start.ToLocalTime()` the time didn't change. I think the UTC Offset is gone at one point.

Would it be possible to keep the time zone? How e

[2022-11-01 21:10] DavidShochet opened #89 "Bundle Resource is not available on MAUI, and what if bundle_id and package_name are different"
The 4) of Basic Setup section says:

But in MAUI projects, Bundle Resource is just not available in the list. And I found out that even if entered manually in the .proj file, it would not work. What is the right way to deal with it for iOS?

The ".NET MAUI support" section says,

But our iOS and Android versions of the app have different bundle_id and package_name, and they cannot be changed. How

[2022-11-02 12:56] TobiasBuchholz commented on #89
Add the references to the `GoogleService-Info.plist` and `google-services.json` to your `.csproj` file like this:

[code]

Make sure the files are located in the root of your project. You can take a look at the [.csproj file](https://github.com/TobiasBuchholz/Plugin.Firebase/blob/c2d5c5f8bfb598c4cb8439a0ac2f6db6cee92c69/sample/Playground/Playground.csproj#L79) of the sample project for further det

[2022-11-07 18:49] #89 closed

[2022-11-07 18:56] DavidShochet opened #90 "Using Pages and Screens"
It seems like Pages and Screens is a natural place to report visiting my mobile app screens by the users. Currently, I see there information that does not seem to be very useful:

![image](https://user-images.githubusercontent.com/45371806/200391155-58dacbab-5f36-4cd1-92c4-fd9e116c1940.png)

If I change the filter criteria to have my report by Page Title and Screen Name, I get

![image](https://us

[2022-11-09 13:50] EdwardMcFlurry opened #91 "[Android] Group Notifications"
I was wondering how can I go about grouping the Notifications received on Android and sent by "FirebaseAdmin" nuget package. I am able to group the 'Local' notifications using another plugin but fails using this plugin.

[2022-11-10 12:06] SeriousM opened #92 "Map Arrays"
A collection can be mapped to `IList<T>` and I guess it's no problem to add `T[]` to the mapping.

JavaObjectExtensions, DictionaryExtension, NSObjectExtension, ...
maybe I didn't have found all the conversion places.

We need that addition because our code requires `Array`s at certain places and `IList` isn't enough (3rd party library dependencies).

Thanks!

[2022-11-10 14:14] TobiasBuchholz commented on #90
A .Net MAUI app basically consists of a single activity (MainActiviy) with all the .Net MAUI framework stuff and navigation on top, but Firebase is build for native android (and iOS) apps, that are using multiple activities. These multiple activities are getting tracked automatically in native android apps, but since there is only a single MainActivity in your .Net MAUI app the automatic screen tr

[2022-11-10 14:39] TobiasBuchholz commented on #92
`IList<T>` is a more generic type than `T[]` and should suffice as only mapping since you can just convert the `IList<T>` to an array yourself, e.g. via the `.ToArray()` extension method of the `System.Linq` namespace. Hope this helps!

[2022-11-10 21:09] TobiasBuchholz commented on #92
I think I don't understand your problem quite yet, could you please provide a concrete example at which point you are getting stuck?

[2022-11-11 08:46] SeriousM commented on #92
I don't think it's important to state the usecase. Your library is a proxy to google firebase/firestore and thus should map between types, not educate the users what types they have to use or not. An array is a very common type and should be supported.

Here is the usecase A:
I have a target type I don't have under my control (another department, etc) which I need to use as projection type:
[code]

[2022-11-14 20:38] TobiasBuchholz commented on #92
Alright, I think I understand your problem now. Unfortunately implementing your suggestion is not as easy as just adding another type to a list of options. There would be some kind of another attribute necessary which specifies in the abstract object (which implements `IFirestoreObject`) that the array from firebase is supposed to be of type `T[]` instead of type `IList[]`. The conversions of abst

[2022-11-15 14:24] SeriousM commented on #92
is it because how java/nsobject is telling what type it should be is implemented?

In c# the order of checks is important:
[code]
Even though the array implements IList<T>, a more concrete check for T[] could make the trick.

I would like to work on that myself but I lack the setup for the integration tests and I have no way to play with ios/apple.

[2022-11-16 15:04] SeriousM opened #93 "Set FirestoreSettings, NetworkAccess, ClearLocalCache"
* Is there a way to set the FirestoreSettings, in particular the CacheSizeBytes?
* Is there support to control [network access](https://firebase.google.com/docs/firestore/manage-data/enable-offline#disable_and_enable_network_access)?
* Can we delete the local cache? [Android](https://firebase.google.com/support/release-notes/android#firestore_v21.1.0), [iOS](https://firebase.google.com/support/rel

[2022-11-17 21:01] TobiasBuchholz commented on #93
Yes, you can set the `FirestoreSettings` on the `IFirebaseFirestore` instance. In your case it would look like this:
[code]

Can we delete the local cache? [Android](https://firebase.google.com/support/release-notes/android#firestore_v21.1.0), [iOS](https://firebase.google.com/support/release-notes/ios#cloud-firestore_53)

I've just created a new version 1.2.2 which implements those methods. You c

[2022-11-18 05:02] petermauger opened #95 "Produce package without bitcode"
If the Plugin.Firebase package is included in a dotnet MAUI project the iOS ipa package created includes Bitcode in the incorporated static framework. Apple rejects any ipa including bitcode when submitting to the App Store. I'm hoping the nuget package can be modified to produce non-bitcode iOS frameworks?

For reference, with dotnet 6.0 build tooling I could strip the bitcode but with dotnet 7.0

[2022-11-19 20:18] migueBarrera commented on #51
@420tech i have same issue after update to net 7 my project

[2022-11-19 21:26] faceoffers28 commented on #51
I finally got my project to build by doing this.

1) Install version 1.2.1 of the plugin using the Nuget Package Manager console. The dependency versions are too high for v 1.2.2.

dotnet add package Plugin.Firebase -v 1.2.

2) I changed the following in cs.proj to the exact TargetFramework version. Notice the 31.0 and 15.4.

[code]

[2022-11-20 20:13] faceoffers28 commented on #51
@420tech Did that work for you?

[2022-11-20 20:34] petermauger commented on #95
There are some workarounds described in this issue on the MAUI project site https://github.com/dotnet/maui/issues/10989

[2022-11-21 17:57] 420tech commented on #51
Yes! Thank you!

[2022-11-21 17:57] #51 closed

[2022-11-22 11:47] SeriousM commented on #93
I wasn't aware that I'm supposed to _replace_ the settings object as I thought it might get cached somewhere and the new instance wouldn't take effect. Maybe pointing it out in a documentation on `firestore.Settings` would help.

Thank you very much for extending the proxy to the native libraries in https://github.com/TobiasBuchholz/Plugin.Firebase/commit/26330773ab27e3f41bab1edf9551790bcf3b926a!

[2022-11-22 11:47] #93 closed

[2022-11-25 06:25] angelru commented on #95
The same issue

[2022-11-25 09:04] CristiSandu commented on #95
I tried the workaround, but after the release, the notifications are not received on IOS.

[2022-11-26 10:50] ragininternet opened #96 "Does this work with .NET MAUI Blazor-App?"
Does this work with .NET MAUI Blazor-App?
Or is this only for the Xamarin .NET MAUI-App?

I used it in an MAUI BLazor-App and an Error happend as I installed the Nugetpacket via manager.

....
System.IO.DirectoryNotFoundException: Ein Teil des Pfades "C:\Users\Are\.nuget\packages\xamarin.firebase.ios.installations\8.10.0.1\lib\net6.0-ios15.4\Firebase.Installations.resources\FirebaseInstallations.x

[2022-11-29 09:27] AlleSchonWeg commented on #95
The ios xamarin bindings for firebase (https://github.com/firebase/firebase-ios-sdk) are very old. Current firebase SDK version is 10.2.0. The bindings are still firebase 8.10.
Bitcode was removed from firebase sdk since version 10.1.0: https://github.com/firebase/firebase-ios-sdk/issues/10372.

[2022-11-29 20:55] TobiasBuchholz commented on #95
I've created a new version 1.2.3 of the plugin which contains the newest versions of the native firebase nuget packages. I'm not able to test if this fixes your problem, so please let me know or close this issue, thanks! :)

[2022-11-29 21:07] TobiasBuchholz commented on #96
Unfortunately I don't have any experience regarding to .NET MAUI Blazor apps, so I'm not sure whether this should work or not. Theoretically it could work since in combination with .NET MAUI is Blazor is just another UI framework solution for creating an android or iOS app as far as I understand it.

Maybe referencing `Xamarin.Firebase.iOS.Installations` directly in your `.csproj` file solves your

[2022-11-29 21:14] TobiasBuchholz commented on #91
Hi, sorry for the late response. Could you please be a bit more specific in what you are trying to achieve, what you have done so far and where you are getting stuck? What do you mean by "FirebaseAdmin" nuget package? What is the other plugin? Thanks!

[2022-11-30 01:49] Tornadocraver commented on #96
I am getting the same error, but with a normal .NET 7.0 MAUI app (not Blazor). Installing version 1.2.3 via NuGet fails with the following error:

[code]

I tried versions 1.2.2 and 1.2.1, but the error occurs with different iOS header files.

This started happening after I updated Visual Studio 2022 and installed .NET 7.0. I was able to successfully install it on a .NET 6.0 MAUI app prior to the

[2022-11-30 06:48] angelru commented on #96
The same issue when trying to upgrade from 1.2.2 to 1.2.3

[2022-11-30 08:03] AlleSchonWeg commented on #96
This is a nuget problem. Nuget has problems with long directory names. As a workaround create a environment valriable `NUGET_PACKAGES`, set it's value to `C:\nuget` and restart Visual Studio. Then you can try again.

[2022-11-30 19:18] Tornadocraver commented on #96
Thanks @AlleSchonWeg - the workaround works for version 1.2.2 (which is good enough for me). I tried it with version 1.2.3 though, and it still fails with the same error.